* {
    background-color: green;
}

/*Sets image width to 150px*/
#bd {
    width: 150px;
    float: left;
}

h1 {
    background-color: black;
    color: white;
}
h2 {
    background-color: lime;
}

ul li{
    list-style: none;
     background-color: lime;
     font-weight: bold, 1.15px;
}

p {
    font-size: 28px;
    color: white;
}