* {
    background-color: green;
}

/*Sets image width to 150px*/
#bd {
    width: 150px;
    float: left;
}

h1 {
    background-color: black;
    color: white;
}
ul h2 li {
    color: white;
}

ul  li p{
    list-style: none;
    color: white;
}

p {
    font-size: 28px;
    color: white;
}