* {
    background-color: green;
}

/*Sets image width to 150px*/
#bd {
    width: 150px;
    float: left;
}

h1 {
    background-color: rgb(16, 21, 16);
    color: white;
}

ul li {
    list-style: none;
}

p {
    font-size: 144px;
}